.tfn-header
  background-color: white
  text-align: center
.header-tabs
  width: 960px
  position: relative
  margin: 0 auto
.header-tabs
  content: ""
  display: table
  clear: both
  border-left: 1px solid #efefef
  border-right: 1px solid #efefef
  .header-dropdown
    position: absolute
    background-color: #efefef
    height: 0px
    width: 960px
    overflow: hidden
    margin: auto
    margin-top: 42px
    &.expanded
      height: 150px
    &:after
      content: ""
      display: table
      clear: both
    .dropdown-content
      float: right
    .dropdown-channel
      width: 175px
      height: 125px
      margin: 10px
      float: left
      background-size: 100% 100%
      &[data-channel="proper"]
        background-image: url('../images/sejuani/sejuani_2.jpg')
      &[data-channel="lcs"]
        background-image: url('../images/poppy/poppy_3.jpg')
      &[data-channel="ozlol"]
        background-image: url('../images/renekton/renekton_3.jpg')
      &[data-channel="wards"]
        background-image: url('../images/urf/urf_1.jpg')
      box-shadow: inset 0px 0px 250px 100px #6f6f6f
      -webkit-transition: box-shadow 0.5s ease
      img
        width: 150px
      &:hover
        cursor: pointer
        box-shadow: inset 0px 0px 67px -6px #6f6f6f
    .dropdown-filter
      float: left
      .filter
        text-transform: uppercase
    
.tab
  float: left
  line-height: 3em
  text-transform: uppercase
  font-size: 14px
  margin-left: 18px
  padding-left: 5px
  padding-right: 5px
  &.home
    width: 100px
    height: 100%
    background-color: rgba(120, 120, 120, 0.25)
    margin-right: 50px
    text-indent: -9999px
  &.search
    border-left: 1px solid #efefef
    border-right: 1px solid #efefef
    margin-left: 15px
    &search:hover
      background-color: white
  &.account
    margin-left: 0px
    padding-left: 26px
    padding-right: 20px
  &:hover, &.selected
    background-color: #efefef
    cursor: pointer  

