@import url(normalize.css);
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
@import url("http://fonts.googleapis.com/css?family=Slabo+27px");
@font-face {
  font-family: "IcoMoon-Free";
  src: url("../fonts/IcoMoon-Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html, body {
  -webkit-font-smoothing: antialiased;
  background-color: #efefef;
  font-family: "Roboto", sans-serif; }

* {
  box-sizing: border-box; }

.template, .hidden {
  display: none; }

.icon {
  font-family: "IcoMoon-Free";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

i.icon.search:after {
  content: "search"; }

i.icon.user:after {
  content: "user"; }

#tfn-app {
  background-color: white; }

#tfn-app {
  margin: 10px auto;
  width: 960px;
  content: "";
  display: table;
  clear: both; }

.partial {
  width: 100%;
  background-color: white;
  float: left;
  margin: 0 auto; }

.post {
  margin-top: 10px;
  padding: 10px;
  font-size: 14px; }

span.post.cloned {
  display: block; }

.tfn-header {
  background-color: white;
  text-align: center; }

.header-tabs {
  width: 960px;
  position: relative;
  margin: 0 auto; }

.header-tabs {
  content: "";
  display: table;
  clear: both;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef; }
  .header-tabs .header-dropdown {
    position: absolute;
    background-color: white;
    height: 0px;
    width: 960px;
    overflow: hidden;
    margin: auto;
    margin-top: 55px;
    transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease; }
    .header-tabs .header-dropdown.expanded {
      height: 175px;
      border: 1px solid #cfcfcf;
      border-top: 2px solid #0ea6d9;
      box-shadow: inset 0px 50px 90px -60px #333; }
    .header-tabs .header-dropdown .dropdown-content {
      float: right;
      margin-top: 30px; }
    .header-tabs .header-dropdown .dropdown-channel {
      width: 200px;
      height: 145px;
      float: left;
      background-size: 100% 100%;
      border: 1px solid #cfcfcf;
      border-right: none;
      box-shadow: inset 0px 0px 250px 50px white;
      transition: box-shadow 0.5s ease;
      -webkit-transition: box-shadow 0.5s ease;
      -moz-transition: box-shadow 0.5s ease; }
      .header-tabs .header-dropdown .dropdown-channel[data-channel="proper"] {
        background-image: url("../images/sejuani/sejuani_2.jpg"); }
      .header-tabs .header-dropdown .dropdown-channel[data-channel="lcs"] {
        background-image: url("../images/poppy/poppy_3.jpg"); }
      .header-tabs .header-dropdown .dropdown-channel[data-channel="ozlol"] {
        background-image: url("../images/renekton/renekton_3.jpg"); }
      .header-tabs .header-dropdown .dropdown-channel[data-channel="wards"] {
        background-image: url("../images/urf/urf_1.jpg"); }
      .header-tabs .header-dropdown .dropdown-channel img {
        width: 150px; }
      .header-tabs .header-dropdown .dropdown-channel:hover {
        cursor: pointer;
        box-shadow: inset 0px 0px 67px -6px white; }
    .header-tabs .header-dropdown .dropdown-filter {
      float: left;
      color: #0ea6d9;
      text-align: right;
      font-size: 20px;
      margin-top: 40px;
      width: 150px;
      line-height: 2em; }
      .header-tabs .header-dropdown .dropdown-filter .filter {
        text-transform: uppercase; }
        .header-tabs .header-dropdown .dropdown-filter .filter:hover {
          cursor: pointer;
          color: #29bff1; }

.tab {
  float: left;
  line-height: 3em;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 18px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Slabo 27px"; }
  .tab.home {
    width: 100px;
    height: 100%;
    background-color: rgba(120, 120, 120, 0.25);
    margin-right: 15px;
    text-indent: -9999px; }
  .tab.search {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    margin-left: 15px; }
    .tab.searchsearch:hover {
      background-color: white; }
  .tab.account {
    margin-left: 0px;
    padding-left: 26px;
    padding-right: 20px; }
  .tab:hover, .tab.selected {
    background-color: #efefef;
    cursor: pointer; }

/*# sourceMappingURL=site.css.map */
