html, body{
  background-color: #efefef;
}
.tfn-header{
  background-color: #888888;
  text-align: center;
  padding-bottom: 10px;
}
.tfn-header .logo{
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  display: inline-block;
  background-color: #eeeeee;
}
/*.tfn-header .home{
  width: 100px;
  height: 50px;
  display: inline-block;
  background-color: #333;
}*/