<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFN - [Template]</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/tfn/tfn_main.js' %}"></script>
    {% block scripts %}{% endblock %}
</head>

<body>
  <header class="tfn-header">
    <div class="header-tabs">
      <div class="tab home" data-selection="home">home</div>
      <div class="tab league" data-selection="league">League of Legends</div>
      <div class="tab smite" data-selection="smite">smite</div>
      <div class="tab World of Warcraft" data-selection="wow">World of Warcraft</div>
      <div class="tab csgo" data-selection="csgo">CS:GO</div>
      <div class="tab search">
        <i class="icon search"></i>
        <input type="search">
      </div>
      <div class="tab account">
        <i class="icon user"></i>
      </div> 
    </div>
  </header>
  <div id="tfn-app">
    {% block content %}{% endblock %}
  </div>
  <footer>
    <p>&copy; {{ year }} - Trinity Force Network</p>
  </footer>
</body>
</html>