<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFN - [Template]</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/tfn/tfn_main.js' %}"></script>
    {% block scripts %}{% endblock %}
</head>

<body>
  <header class="tfn-header">
    <!-- Navigation for podcasts and sections -->
    <div data-selection="proper" class="logo proper">Trinity Force Proper</div>
    <div data-selection="lcs" class="logo lcs">LCS Rundown</div>
    <div data-selection="ozlol" class="logo ozlol">Ozlol</div>
    <!-- Main Home button -->
    <div data-selection="home" class="logo home">Home</div>
    <div data-selection="wards" class="logo wards">Four Wards</div>
    <div data-selection="blogs" class="logo blogs">Blogs</div>
    <div data-selection="wow" class="logo wow">WoW</div>
  </header>
  <div id="tfn-app">
    {% block content %}{% endblock %}
  </div>
  <footer>
    <p>&copy; {{ year }} - Trinity Force Network</p>
  </footer>
</body>
</html>
